@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  rgb(255, 255, 255);
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "meio meio meio"
    "pe pe pe";
    grid-template-columns:  auto auto 100px;
    grid-template-rows: auto auto 100px;
}


header{
    grid-area: cabeca;
    background-color: rgb(124, 123, 123);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px;
    font-family: "Lobster";
}

main{
    grid-area: meio;
}

footer{
    background-color: rgb(124, 123, 123);
    grid-area: pe;
}

.tpcal{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: rgb(124, 123, 123);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.2s;
    cursor: pointer;
}

.tpcal:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.tpcal:active {
  background-color: #6fc5ff50;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}



.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    border: none;
    box-shadow: 12px 10px 10px 4px rgba(0, 0, 0, 0.4); 
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    background-color: rgb(207, 207, 207);
    border-radius: 20px;
}

.botao{
    text-align: center;
    padding: 50px;
}
