.titulo1 {
    text-align: center;
}

.titulo {
    text-align: center;
}

.como {
    left: 370px;
}

.h1 {
    left: 400px;
}

.tpcal{
    position: relative;
    left: 745px;
    top: 100px;
    width: 500px;
    height: 200px;
}

*{
    padding: 20px;
}