@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: rgb(219, 219, 219);
}

.questio{
    width: 1000px;
    font-size: large;
}

.bogao{
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Questionario */
.verde{
    color: green;
}
.vermelho{
    color: red;
}

.mae{
    padding-left: 30px;
}

.img{
    position: relative;
    width: 725px;
    height: 375px;
    left: 950px;
    bottom: 890px;
}

.img img{
    width: 725px;
    height: 375px;
}

.tilt{
    text-align: center;
    padding-top: 15px;
}

header{
    background-color: rgb(124, 123, 123);
    grid-area: cabeca;
    font-family: "Montserrat";
}

main{
    grid-area: meio;
}

footer{
    grid-area: pe;
    background-color: rgb(124, 123, 123);
}

body{
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "meio meio meio"
    "pe pe pe";
    grid-template-columns: auto auto 100px;
    grid-template-rows: 125px 83% auto;
    margin: 0px;
}

.bogado{
    border-radius: 45px;
    background-color: rgb(124, 123, 123);
    color: rgb(236, 229, 229);
    border-color: gray;
}