@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.h1{
    font-family: 'Lobster';
    text-align: center;
    padding-top: 35px;
    color: white;
}

button{
    background-color: white;
}

header{
    background-color: rgb(124, 123, 123);
    grid-area: cabeca;
} 

main{
    grid-area: meio;
}

footer{
    grid-area: pe;
}

body{
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-areas: 
    "cabeca cabeca cabeca"
    "meio meio meio"
    "pe pe pe";
    grid-template-columns: auto auto 100px;
    grid-template-rows: 125px 90% 100px;
    margin: 0px;
    
}

h2{
    margin: 15px;
    padding-left: 35px;
}

table{
    width: 500px;
    border-collapse: collapse;
    margin: 25px;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
}
th {
    background-color: rgb(0, 0, 0);
    color: white;
}

tr{
    background-color: white;
}

.reajust{
    text-align: center;
    padding-top: 150px;
}

.reajust input{
    height: 30px;
    border-radius: 10px;
}

.tabelas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botaos{
    text-align: center;
    padding: 7px;
    margin: 5px;
    border: rgb(121, 121, 121);
}

.botaos button{
    height: 40px;
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
    border: rgb(121, 121, 121);
}

.botal{
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    border: rgb(121, 121, 121);
}
